
@{
    ViewData["Title"] = "Main Page";
}

<h3>Please register or log in into your account</h3>

<div>
    <a asp-controller="UserCreation" asp-action="Register" class="btn btn-primary">Register</a>

    <a asp-controller="UserCreation" asp-action="Login" class="btn btn-secondary">Log in</a>
</div>
