@model FinalAppTemplate.ViewModels.RegistrationVM;
@{
    ViewData["Title"] = "Register";
}

<form asp-action="Register" method="post">

    <!-- <div asp-validation-summary="All" class="text-danger mb-3"></div>  -- Pentru vizualizarea tuturor erorilor-->

    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" asp-for="Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" class="form-control" asp-for="Username" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="PasswordHash">Password</label>
        <input type="password" class="form-control" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-controller="UserCreation" asp-action="MainPage" class="btn btn-secondary">Back</a>
</form>
